.footer {
    height: 50px;
}

.card-text {
    word-break: break-all;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}