@using PagedList.Mvc
@model PagedList.IPagedList<BlogMvcApp.Models.ArticleAdViewModel>
@{
    ViewBag.Title = "Blog";
}
<h2 class="text-center">Newest articles</h2>
<hr />

@Helpers.CreateArticles(Model.ToList())
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))


@section RightSideBar
{
    @Html.Partial("RightSideBar")
}


@section Scripts
{
    <script>
        $(function () {
            $('#right-column').removeClass("col-lg-2").addClass("col-lg-1");
            $('#left-column').removeClass("col-lg-2").addClass("col-lg-1");
            //$('#main').removeClass("col-lg-10").addClass("col-lg-8");
        })
    </script>
}